Package: eggs-quirinux-config
Version: 1.4.10+q2
Maintainer: Charlie Martinez <cmartinez@quirinux.org>
Section: system
Homepage: https://www.quirinux.org
Architecture: amd64
Priority: optional
Depends: penguins-eggs
Conflicts: slim
Description: Eggs Quirinux Config
 Wardrobe para Linux Penguin Eggs de Piero Proietti (template para Quirinux hecho por Charlie Martinez)
Installed-Size: 1500


